In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('C:\\Users\Alok\PycharmProjects\FileProgram\File\\csv\\emp.csv')
df

  empId Name    Deg.  year
0    1A   Ap     s/w     2
1    1B   Bp     H/w     6
2    1C   Dr  Author     2
3    1D   Cp     s/w     2
4    1E   Hp     H/w     5
5    1F   Kr  Author     3

In [3]:
df.loc[2]

empId        1C
Name         Dr
Deg.     Author
year          2
Name: 2, dtype: object